.animate-zoom-1 {
	animation:animatezoom 0.7s
}
@keyframes animatezoom {
	from {
		transform:scale(0)
	} 
	to {
		transform:scale(1)
	}
}
.animate-zoom-2 {
	animation:animatezoom 0.8s
}
@keyframes animatezoom {
	from {
		transform:scale(0)
	} 
	to {
		transform:scale(1)
	}
}
